<!DOCTYPE html>
@*Here is the layout that will be used for each view of the website*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <!--Webpage title-->
    <title>@ViewData["Title"]</title>

    <!--Adding the bootstrap and default CSS (to override certain details)-->

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />

    <!--Here is the favicon icon for the tab-->
    <link rel="shortcut icon" type="image/png" href="~/img/catanlogo.webp">
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="Grades">Grade Form</a>
    </nav>
    <div>
        @RenderBody()

    </div>

    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>

</body>

</html>


