@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jacob Olsen IS413";
}
<!--Jacob Olsen-->

<!--Header with preferred name-->
<h1>
    Jacob Olsen
</h1>
<br />

<!--Picture of myself hosting Catan night (something I enjoy)-->
<img id="catannight" src="img/catan_night.jpg" />
<br />

<!--What I hope to get out of the class-->
<h2>What I hope to get out of IS413</h2>
<p>
    The thing hope to get from this class the most is a better, solid understanding of Object-oriented programming.
    Although we learned some OOP in our Python class last semester, I still left the class a little confused
    on certain concepts and how things fit together. My hope is that I can get really good at that aspect
    of programming as a result of IS413.
</p>
<br />

<!--Top 3 Jobs upon Graduation-->
<h2>Top 3 Jobs after Graduation</h2>
<ol>
    <li>Data Analyst</li>
    <li>Backend/Database Developer</li>
    <li>Cyber Security Analyst</li>
</ol>
<br />

<!--Grade Calculator with ids that will be referenced in the js page and functions.-->
<h2>Grade Calculator</h2>
<h5>(please enter the % of points you received for each category)</h5>
<br />

